
<div class="container">
  <div class="d-flex justify-content-center"
    <h1>All my lists</h1>
  </div>

  <%= cl_image_tag("kbyygpczlzy985zkqdcj",
    width: 400, height: 300, crop: :fill) %>
  <%= cl_image_tag("kbyygpczlzy985zkqdcj",
    width: 400, height: 300, crop: :limit) %>
  <%= cl_image_tag("kbyygpczlzy985zkqdcj",
    width: 400, height: 300, crop: :fit) %>
  <%= cl_image_tag("kbyygpczlzy985zkqdcj",
    width: 400, height: 300, crop: :pad) %>
  <%= cl_image_tag("kbyygpczlzy985zkqdcj",
    width: 400, height: 300, crop: :crop) %>
  <%= cl_image_tag("kbyygpczlzy985zkqdcj",
    width: 400, height: 300, crop: :thumb, gravity: :face) %>

  <div class="row">
    <% @lists.each do |list| %>
      <div><%= link_to "#{list.name}", list_path(list.id) %></div>
    <% end %>
    <br>

    <div class="col-6"></div>
    <div class="col-6"></div>
  </div>
  <%# <%= link_to 'Create new list', new_list_path %>
</div>
