
<div class="d-flex justify-content-center p-5" style="height: 50vh; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1450&q=80);">
  <div class="d-flex flex-column justify-content-center align-content-center">
    <h1 class="d-flex justify-content-center text-white">All of my lists</h1>
  </div>
</div>

<div class="container">

  <%= cl_image_tag("kbyygpczlzy985zkqdcj",
    width: 400, height: 300, crop: :fill) %>
  <%= cl_image_tag("kbyygpczlzy985zkqdcj",
    width: 400, height: 300, crop: :limit) %>
  <%= cl_image_tag("kbyygpczlzy985zkqdcj",
    width: 400, height: 300, crop: :fit) %>
  <%= cl_image_tag("kbyygpczlzy985zkqdcj",
    width: 400, height: 300, crop: :pad) %>
  <%= cl_image_tag("kbyygpczlzy985zkqdcj",
    width: 400, height: 300, crop: :crop) %>
  <%= cl_image_tag("kbyygpczlzy985zkqdcj",
    width: 400, height: 300, crop: :thumb, gravity: :face) %>

  <div class="row">
    <% @lists.each do |list| %>
      <div><%= link_to "#{list.name}", list_path(list.id) %></div>
    <% end %>
    <br>

    <div class="col-6"></div>
    <div class="col-6"></div>
  </div>
  <%# <%= link_to 'Create new list', new_list_path %>
</div>
