<h1> Create new Bookmark </h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.button :submit %>
<% end %>

<br>
<%= link_to 'Back to list', lists_path %>
